@import "/src/utils/scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-orange-dark;
    border-radius: 0 0 rem(20) rem(20);
    padding: rem(15) rem(25);
    color: white;
}
