@import "/src/utils/scss";

.button {
    cursor: pointer;
    border: none;
    border-radius: rem(25);
    padding: rem(15) rem(25);
    width: 100%;
    color: white;
    background-color: $color-orange-dark;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}
