@mixin page-wrapper {
    max-width: rem(1200);
    width: 100%;
    margin: 0 auto;
    padding: rem(15);
    margin-top: rem(65);
}

@mixin card-rounded {
    position: relative;
    border: 2px solid $color-orange-light;
    border-radius: rem(25);
    max-width: rem(800);
    margin: 0 auto;
}
