@import "/src/utils/scss";

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: $color-orange-light;
    height: rem(50);
    @include unselectable;

    .container {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: rem($content-width);
        width: 100%;
        margin: 0 auto;
        padding: 0 rem(25);

        .main_logo {
            max-height: 95%;
            margin-right: rem(15);
        }

        .title {
            color: white;
            font-size: rem(16);
            font-weight: 400;
            padding: rem(5);
            letter-spacing: 2.5px;
            border-bottom: 1px dashed white;
        }
    }
}
