@import "/src/utils/scss";

.container {
    padding: rem(25);
    line-height: 1.5;
    font-size: rem(24);
    letter-spacing: 2.5px;
    white-space: pre-wrap;

    .checking {
        border-bottom: 2px solid $color-orange-dark;
        width: 10px;
    }
    .uncompleted {
        color: rgba(0, 0, 0, 0.541);
    }
    .completed {
        color: green;
    }

    .wrong {
        color: red;
    }
}
