@import "/src/utils/scss";

.container {
    display: flex;
    align-items: center;
    margin-right: rem(30);
    .icon {
        margin-right: rem(10);
        svg {
            width: rem(45);
            height: rem(45);
        }
    }
    .statistics_info {
        display: flex;
        flex-direction: column;
        .name {
            font-weight: bold;
            margin-bottom: rem(3);
        }
        .value {
            font-size: rem(15);
        }
    }
}
