@import "/src/utils/scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-orange-light;
    padding: rem(15) rem(25);
    color: white;

    .statistics {
        display: flex;
        align-items: center;
    }
}
